{% extends "layout.html" %}
{% block content %}
<h4 style="color: white; text-align: center;"><span style="text-decoration: underline;"><strong> Our Team:</strong></span></h4>
<table style="width: 535px;">
<tbody>
<tr>
<td style="width: 160px;">&nbsp;<img src="https://cdn.discordapp.com/attachments/800073873482973217/800550095556444211/unknown.png" alt="Avatar" width="195" height="260" /></td>
<td style="width: 175px;">&nbsp;<img src="https://media.discordapp.net/attachments/800073873482973217/800549891889168454/personPicture.png" width="195" height="258" /></td>
<td style="width: 208px;">&nbsp;<img src="https://cdn.discordapp.com/attachments/800073873482973217/800552419292872724/unknown.png" alt="Avatar" width="208" height="259" /></td>
</tr>
<tr>
<td style="width: 160px;">
<h4 style="color: white; text-align: center;"><strong>Rohit Naidu</strong></h4>
<p style="color: white; text-align: center;">rohitnofficial@gmail.com</p>
&nbsp;</td>
<td style="width: 175px;">
<h4 style="color: white; text-align: center;"><strong>Varun Venkatesh</strong></h4>
<p style="color: white; text-align: center;">varun.v9725@gmail.com</p>
&nbsp;</td>
<td style="width: 208px;">
<h4 style="color: white; text-align: center;"><strong> Rishav Nair</strong></h4>
<p style="color: white; text-align: center;">rishav.a.nair@gmail.com</p>
&nbsp;</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<div class="container">&nbsp;</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
    <style>
    img {
    border-radius: 10%;
    }
    </style>
    













{% endblock content %}